<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
	Splurty was built by <a target="_blank" href="http://github.com/SethTeck">Seth Allen</a>. A guy from Santa Barbara, CA, aspiring to be a full-stack web developer. Splurty is Seth's very first web application that <a target="_blank" href="http://thefirehoseproject.com">The Firehose Project </a>helped him create.
</p>
</br>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'seth.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Seth Allen</h2>
	<br />
<p>
	In a past life, Seth was a recording engineer, music producer, musician, and worked as an Apple Genius for Apple Inc. Given his background with computer technology and creative problem solving -- Programming seemed like the next field to dive into.
</p>

</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />